*{
    margin:0;
    font-family: 'Noto Sans', sans-serif;
    
}
header{
    background-color: rgb(7, 92, 7);
    color: white;
    height: 10%;
    width: 100%;
    position: fixed;
   z-index: 10;
   text-decoration: none;
}
#logo{
    width: 6%;
    padding: 0.4%;
    position: absolute;
    margin-left: 20px;
}
#menu{
    float: right;
    margin-right: 3%;
   
}

header li{
    float: left;
    padding: 2rem 1rem;
    list-style: none;
    
}
header li a{
    color: #ffffff;
    text-decoration: none;
}
header li:hover{
    background-color: springgreen;
    padding: 1.5rem 1rem 1.4rem 1rem;
    transition: all .4s linear;
    
}


    


#fundo{
    background: url("folha.jpg");
    height:100%;
    width:100%;
    text-align: center;
    padding-top: 20%;
    box-sizing: border-box;
    background-size: cover;
}

#titulo{
    color: white;
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#subtitulo{
    color: white;
    padding-left: 30%;
    padding-right: 30%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#autor{
    color: white;
    padding-left:28%;
    border-radius: 5px 5px 5px 5px;
}
#link_ods{
    color: white;
    border: 2px white solid;
    padding: 8px 8px 8px 8px;
}

.links{
    text-decoration: none;
    color: black;}

section{
    padding: 60px;
    padding-top: 80px;
    float: right;
   
}
#projeto{
    background-color: #f7f7f7;
    
    
}
    #projeto1{
        
        border-left:2.9vw darkgreen solid;
    
}
.borda{
    border-left: 2.9vw #228B22 solid;

}

.borda1{
    border-left: 2.9vw #28e728 solid;
}
.borda2{
    border-left: 2.9vw #1cc51c solid;
}
.section{
    font-size: 2rem;
    text-align: center;
}

.coluna{
    float: right;
    padding: 0 5%;
    position: relative;
    width: 40%;
}
.coluna2 img{
    float: left;
    padding: 0 5%;
    margin-bottom: 2%;
    position: relative;
    width: 39%;
    height:50%;
    
}
    


.justificado{
    text-align: justify;
}

.centralizado{
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
    margin: 2% 0rem 2rem 0rem;
   
    
}

#video{
    padding-top: 115px;
}
#video1{
    margin-top: 40px;
     width:50%;
    height: 55%;}

.coluna1{
    float: left;
    padding: 0 5%;
    position: relative;
    width: 40%;

}
    .desmatamento {
    float: right;
    padding:  0%;
    position: relative;
    width: 50%;
    padding-top: 7rem;
    
    }
    #pantanal img{
        width: 100%;
       background-size: cover; 
    }
    #pantanal{
        width: 100%;
       background-size: cover; }

    .capa2{
        position: absolute;
        text-align: center;
    }
    .agricola{
        float: right;
        padding:  0%;
        position: relative;
        width: 50%;
        padding-top: 3rem;
    }
    #aquecimento{
            float: left;
            padding:  0%;
            position: relative;
            width: 50%;
            padding-top: 3rem;
    }
    .global{
        width: 50%;
        height: 70%;
    }
    .chamas{
        float: right;
        padding:  0%;
        position: relative;
        width: 40%;
        height:50%;
        padding-top: 0rem;
    
    }

        
    
    #pq{
        border-left: 2.9vw #8B0000 solid;
    }
    #pq .icone{
        border-radius: 50%;
        width: 9rem;
        height: 9rem;
        margin: 0 auto;
    }
    .fogo-no-pantanal{
        border-left: 2.9vw #41921b solid;
    }
    .fogo-no-pantanal img{
        border-radius: 0.5rem;
        margin-top: 5.6vh;
        width: 50%;}
#fogo img{
    width: 50%;
    height: 50%;
}

#pq{
    border-left: 2.9vw #8B0000 solid;
}
.pq1{
    border-left: 2.9vw #ad2503 solid;
}
.pq2{
    border-left: 2.9vw #d81313 solid;
}
.margin{
    margin-top: 2rem;
}
.center{
    text-align: center;
    font-size: 30px;
    padding: 0;
    margin: 2%;
}

.trafico{
    width: 50%;
    float: right;
    position: absolute;
    padding-left:0%;
    margin-left: 45%;
    
}
.trafico img{
   width: 100%;
}

.fghjk{
    transform: translateX(-10%);
}
.icone {
    width: 71px;
}
section {
    padding: 20px;
    float: left;}

    .coluna3 {
        float: left;
        padding: 0 5%;
        position: relative;}

        .center1{
            text-align: center;
            font-size: 20px;
            margin: 2%;
            
        }

       #mais{
           width: 100%;
           
       }
        
        #mais img{
            width: 12rem;
            height: 12rem;
            float: left;
            padding: 10px;
           margin-right: 19%;
            
        }
        .h33{
        font-size: 3rem;
    font-weight: bolder;
    margin: 12% 0rem 2rem rem;
    text-align: center;}

        #mais .contato p {
            padding-left: 3rem;
        }
        /*section 6*/
        #eu1{
            border-left: 2.9vw #48ce13 solid;
            
        
        }
        #eu img{
            margin-top: 12vh;
            width: 29%;
        }

        .coluna4 {
            float: left;
            padding: 0 6%;
            position: relative;
           padding-left: 40%;

            
        }

        .icone1 img{
            width: 151px;

            }
       .tudo{
           padding-left: 60px;
       }
       #rodape{
        height: 50%;
        width: 100%;
        background-color: rgb(5, 77, 5);
        color: #84ffbb;
        box-sizing: border-box;
    }
    #rodape a{
        font-size: 1.6rem;
        color: #84ffbb;
    }
    #rodape a:hover{
        color: #84ffbb;
    }
    #rodape .icone{
        padding: 0.5rem 2rem 0.5rem 0rem;
    }
    #rodape address{
        font-size: 1.5rem;
    }
        .section_tipo{
            padding: 2%;
            float: left;
            color: #00070d;
        }

        .icone2 {
            width: 35px;
        }

        .h34{
             background-color: #f7f7f7;
        }

        /*responsividade*/

        @media all and (max-width: 768px){
            #menu{
            visibility: hidden;
        }
        #capa .fundo{
            height: 85%;
        }
       #titulo {
            padding-top: 2%;
        }
       #subtitulo{
            padding-left: 2%; padding-right: 2%;
        }
        #autor{
            padding: 5px 22% 1rem 0rem;
            transform: translateX(10%);
        }
        


        .coluna, .coluna1, .coluna3, .coluna4, .desmatamento{
       display: block;
       width: 90%;
       padding: 0;
       margin: 10px auto;
       float: none;
       position: relative;

        }
       .agricola{
        display: block;
       width: 90%;
       height: 60%;
       padding: 0;
       margin: 10px auto;
       float: none;
    position: relative;
    }

       #aquecimento, .global, #video1{
        display: block;
        width: 90%;
        height: 50%;
        padding: 0;
        margin: 10px auto;
        float: none;
        position: relative;
       }
       #fuego, .chamas{
           visibility: hidden;
           padding: 0;
           margin: 0;
           position: relative;
       }
       .fogo-no-pantanal{
           padding: 0;
           margin: 0;
           position: relative;
       }
     .coluna2 img{
        display: block;
        width: 100%;
        height: 40%;
        padding: 0;
        margin: 10px auto;
        float: none;
     position: relative;
           
       }

       

        #logodiv{
            width: 100%;
            position: relative;
            text-align: center;
            padding: 0px;
        }

        #logo{
            width: 17%;
            transform: translateX(-55%);
        }
.trafico{
    visibility: hidden;
}

.fghjk{
    transform: translateX(-10%);
}

.icone1{
    transform: translateX(20%);
}

#eu img{
    width: 80%;
    padding:0;
    margin: 10px auto;
    transform: translateX(10%);

}
#rodape_bottom{
    display: initial;
}

.contato{
    font-size: 20px;
    float: left;
    padding-left:5%;
}

.links{
    text-decoration: none;
    color: black;
}